.top
{
    position: absolute;
    background-image: url("../images/background.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    height: 500px;
    width: 100%;
}

.navig
{
    color: #fff;
}

.top__navig
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.navig__title
{
    display: inline-block;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
}

.navig__menu
{
    display: inline-block;
}

.menu
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;    
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.menu__item + .menu__item
{
    margin-left: 40px;
}

.menu__item
{
    text-decoration: none;
    color: #fff;
}