body
{
    margin: 0px;
    background: #F7F7F7;
}

.header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/background.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    height: 500px;
    width: 100%;
    background-size: cover;
}

.header__navig
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    height: 40px;
    margin-top: 18px;
}

.navig
{
    color: #FFFFFF;
}

.navig_color-black
{
    color: #2E2E2E;
}

.navig_with-background
{
    height: 90px;
    background: rgba(35, 47, 56, 0.6);
    border-radius: 0px;
}

.navig__title
{
    display: inline-block;
    font-family: 'Lora';
    font-style: normal;
    /* font-weight: 400; */
    font-size: 26px;
    line-height: 26px;
}

.navig__menu
{
    display: inline-block;
}

.menu
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;    
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.menu__item
{
    text-decoration: none;
    color: #FFFFFF;
}

.menu__item_color-black
{
    color: #2E2E2E;
}

.menu__item + .menu__item
{
    margin-left: 40px;
}

.header__headline
{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 0px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.header__headline_color-black
{
    color: #2E2E2E;
    margin-top: 100px;
}

.header__subheadline
{
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.63);
}

.header__subheadline_color-black
{
    color: rgba(46, 46, 46, 0.63);
    margin-bottom: 110px;
}

.header__button
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
    border: 0px;
    border-radius: 3px;
    background: #DD783F;
}

.main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: none;
    padding-bottom: 110px;
}

.main__categories
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    align-items: center;
    width: 940px;
    max-width: 100%;
    padding-left: 240px;
    padding-right: 240px;
    height: 65px;
}

.categories
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border-radius: 0px;
    background: #FFFFFF;
}

.categories__item
{
    text-decoration: none;
    color: #768088;
}

.main__posts
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 940px;
    background: #F7F7F7;
}

.posts__title
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px;
    color: #2E2E2E;
    margin-top: 60px;
    /* margin-bottom: 40px; */
    margin-bottom: 0px;
    margin-left: 50%;
    margin-right: 50%;
}

.posts__title::after
{
    content: '';
    display: block;
    margin-top: 16px;
    border-top: 1px solid #DEDEDE;
    border-radius: 0;
    width: 180px;
}

.posts__card-big
{
    height: 280px;
    width: 460px;
    flex-shrink: 0;
}

.card-big 
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 3px;    
}

.card-big_background-1
{
    background-image: url("../img/northern_lights.jpg");
}

.card-big_background-2
{
    background-image: url("../img/Chinese_lanterns.jpg");
}

.card-big__headline
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 6px;
}

.card-big__subheadline
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 6px;
    margin-left: 20px;
    margin-bottom: 12px;
}

.card-big__caption
{
    width: 420px;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.caption
{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
}

.caption__photo
{
    height: 26px;
    width: 26px;
    border-radius: 60px;
    margin-right: 10px;
}

.caption__name
{
    flex-grow: 1;
}

.card-big__label
{
    position: absolute;
    top: 0px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    margin-left: 20px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 9px;
    padding-right: 9px;
    background: #DD783F;
    border-radius: 2px;
}

.posts__card-small
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
    height: 291px;
    width: 296px;
}

.card-small
{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.09);
    border-radius: 3px;
    background: #FFFFFF;
}

.card-small__image
{
    height: 150px;
    width: 296px;
}

.card-small__headline
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
    margin-left: 13px;
    margin-top: 14px;
    margin-bottom: 6px;
}

.card-small__subheadline
{
    flex-grow: 1;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
    margin-left: 13px;
    margin-top: 0px;
}

.caption_recent
{
    display: flex;
    flex-direction: row;
    width: 268px;
    color: #999999;
    background: #FCFCFC;
    margin: 0px;
    border-top-style: solid;
    border-color: #EFEFEF;
    border-top-width: 1px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 14px;
    padding-right: 14px;    
}

.footer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    background: url('../img/footer_background.jpg');
    height: 378px;
    width: 100%;
    background-size: cover;
}

.footer__title
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    flex-shrink: 0;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;   
    color: #EFEFEF;
    margin-top: 81px;
    margin-bottom: 20px;
}

.footer__title::after
{
    content: '';
    display: block;
    margin-top: 18px;
    border-top: 1px solid #DEDEDE;
    border-radius: 0;
    width: 180px;
}

.footer__input
{
    display: inline-block;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #817F83;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 35px;
    padding-right: 35px;
    width: 305px;
    background: #FFFFFF;
    border: 0px;
    border-radius: 3px 0px 0px 3px;
}

.footer__button
{
    display: inline-block;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #F8F8F8;
    width: 125px;
    height: 50px;
    border-radius: 0px 3px 3px 0px;
    border: 0px;
    background: rgba(255, 255, 255, 0.28);
}

.menu__item_footer
{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer__navig
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    margin-top: 90px;
    padding-left: 250px;
    padding-right: 250px;
}

.menu__item_footer + .menu__item_footer
{
    margin-left: 20px;
}

.header-post
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 360px;
    width: 100%;
    background-color: #FFFFFF;
}

.header-post__navig
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    height: 40px;
    margin-top: 18px;
}

.main-post__image
{
    height: 534px;
    width: 100%;
}

.main-post
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: none;
    background: #FFFFFF;
}

.main-post__post
{
    width: 940px;
    max-width: 100%;
    margin-top: 140px;
    margin-right: 240px;
    margin-bottom: 135px;
    margin-left: 240px;
}

.post
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #101315;
    width: 940px;
    margin-top: 140px;
    margin-right: 240px;
    margin-bottom: 135px;
    margin-left: 240px;
}